language: node_js
node_js:
  - "5"
  - "4.2"
branches:
  only:
  - master
  - dev
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
after_success: make send-coverage
notifications:
  email: false
sudo: false
